.App {
  text-align: center;
}

body, html {

  background:black 
}
img{
  width: 100%;
  
}
.crate {
  /*display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item{
  /*flex: 1;
  flex-basis: 150px;*/
  padding:0px;
  /*border:30px red;*/
  position: relative;
  overflow: hidden;
}

.overlay {
   transition: bottom ease 0.5s;
   position: absolute;
   bottom: -100px;
   left: 0;
   width: 100%;
   opacity: 0.6;
   background-color:gold;
   
}

.item:hover .overlay {
  opacity: 0.8;
  bottom: 30px;
}



