.App {
  text-align: center;
}

img{
  width: 100%;
  
}
.crate {
  display: flex;
}
.item{
  flex: 1;
  padding:30px;
}

@media only screen and (max-width: 500px) {
 
  .crate {
    flex-direction:column ; 
  }
}
