.App {
  text-align: center;
}

img{
  width: 100%;
  
}
.crate {
  display: flex;
}
.item{
  flex: 1;
  padding:30px;
  border: 1px solid darkred;
  position: relative;
  overflow: hidden;
}

.overlay {
   transition: bottom ease 1.3s;
   position: absolute;
   bottom: -100px;
   left: 0;
   width: 100%;
   opacity: 0.6;
   background-color: lemonchiffon; 
   
}

.item:hover .overlay {
  display: block;
  opacity: 0.8;
  bottom: 30px;
}

@media only screen and (max-width: 500px) {
 
  .crate {
    flex-direction:column ; 
  }
}
